@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center">
    <img src="../../Content/images/logo.png"/>
</div>
<div class="row">
    <div class="col-md-6">
        <a href="#" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-circle-arrow-down"></span> Withdawal</a>
        <a href="#" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-flash"></span> Quick Cash</a>
        <a href="#" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-question-sign"></span> Balance inquiry</a>
    </div>
    <div class="col-md-6">
        <a href="#" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-print"></span> Print Statement</a>
        <a href="#" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-transfer"></span> Transfer Funds</a>
        <a href="#" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-circle-arrow-up"></span> Deposit</a>
    </div>
</div>